# fly.toml app configuration file generated for chartwise-service-prod on 2024-06-12T18:59:09-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chartwise-service-prod'
primary_region = 'mia'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']
  [http_service.concurrency]
    type = "requests"
    soft_limit = 25
    hard_limit = 50

[[services]]
  processes = ["app"]
  [services.vm]
    memory = "3gb"
    cpu_kind = "shared"
    cpus = 2

[machines.app]
  count = 4  # 4 machines for FastAPI

[processes]
  # This is your FastAPI process
  app = "uvicorn app.main:app --host 0.0.0.0 --port 8080"
