# fly.toml app configuration file generated for chartwise-service-staging on 2024-06-12T18:59:09-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chartwise-service-staging'
primary_region = 'mia'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2

[processes]
  # This is your FastAPI process
  app = "uvicorn app.main:app --host 0.0.0.0 --port 8080"

  # Celery worker process for background tasks
  worker = "celery -A app.data_processing.celery:celery_app worker --loglevel=info"
